/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, input, select, button {
    font-family: 'Arial', sans-serif;
}

.wrapper {
    display: flex;
}

/* Search panel styling */
.search-panel {
    width: 300px;
    background: #fff;
    padding: 20px;
    height: 100%; /* Set initial height to fill the page */
    min-height: 100vh; /* Ensure minimum height of viewport height */
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.search-panel h2 {
    margin-bottom: 20px;
}

/* Input group styling */
.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input[type=text], .input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Button styling */

.search-btn {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}
.passenger-btn {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: white;
    text-align: left;

}

.passenger-btn:after {
    content: '▼';
    float: right;
}

/* Dropdown content styling */
.passenger-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 10px;
    top: 100%;
    left: 0;
}

/* Passenger count styling */
.passenger-count {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 12px 16px;
}

.passenger-count label {
    flex-grow: 1;
}

.quantity-btn {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
}

.quantity-btn:hover {
    background-color: #e2e2e2;
}

.passenger-count input[type=number] {
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
}

/* Content panel styling */
.content-panel {
    flex-grow: 1;
    padding: 20px;
}

/* Additional responsive and interactive styles */
/* Add here as needed */
/* Date input styling - similar to text and select inputs */
.input-group input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    -webkit-appearance: none;  /* Removes default styling of date picker in WebKit browsers */
    background-color: white;
    cursor: pointer;
}

/* Style the placeholder text */
.input-group input[type="date"]::-webkit-datetime-edit-text {
    color: #ccc;
}

.input-group input[type="date"]::-webkit-datetime-edit-month-field {
    color: #333;
}

.input-group input[type="date"]::-webkit-datetime-edit-day-field {
    color: #333;
}

.input-group input[type="date"]::-webkit-datetime-edit-year-field {
    color: #333;
}

/* Adjust the dropdown icon in date inputs */
.input-group input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    background: none;
    z-index: 1;
    cursor: pointer;
    opacity: 1;
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    border-width: thin;
}
.input-group input[type=date] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
/* Style the date picker input field */
.input-group input[type=date] {
    background-color: white; /* Light grey background */
    border: 1px solid #d4d4d4; /* Light grey border */
    padding: 10px; /* Padding inside the input field */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Text size */
    color: #333333; /* Text color */
    cursor: pointer; /* Cursor indicates it's clickable */
}

/* Additional styles for focus and hover states */
.input-group input[type=date]:focus,
.input-group input[type=date]:hover {
    border-color: #a0a0a0; /* Darker border on focus/hover */
    outline: none; /* Removes the default outline */
}

#add-city-button {
    display: inline-block !important;
    margin-right: 10px !important; /* Adjust margin as needed */
    padding: 12px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    margin-bottom: 20px !important;
    position: absolute;
    bottom: 0;
    right: 0;
}
.delete-city-set {
    display: inline-block !important;
    margin-right: 10px !important; /* Adjust margin as needed */
    padding: 12px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    margin-bottom: 20px !important;
}
#multi-city-container {
    position:relative
}
.Forced-Relative {
    position: relative !important;
}


  /* General card styles */
.cardsection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
  }
  .flightDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  
  .airlineLogo {
    width: 50px; /* Adjust size as necessary */
    height: auto;
    margin-bottom: 10px;
  }
  
  .airlineCode {
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .departInfo, .arrivalInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
  }
  
  .flightDuration {
    position: absolute;
    top: -10px; /* Adjust as necessary */
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 0.9em;
  }
  
  .departInfo span, .arrivalInfo span {
    font-size: 0.9em;
    margin-right: 10px;
  }
  .imageContainer {
    flex-basis: 30%;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .cardImg {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  
  /* Flight and booking details section */
  .detailsContainer {
    flex-basis: 40%;
    padding: 20px;
  }
  
  .airlineCode, .flightDuration, .departAirport, .arrivalAirport {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .airlineLogo {
    width: 50px; /* Adjust size accordingly */
    height: auto;
  }
  
  /* Price and booking button section */
  .bookingContainer {
    flex-basis: 30%;
    background-color: #ecf0f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  
  .airfairprice {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-right: 30px;
    margin-bottom: 0;
  }
  
  .bookButton {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
  }
  
  /* Tags */
  .tagsContainer {
    display: flex;
  }
  
  .tag {
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 12px;
  }
  .saveButton {
    font-size: 24px;
    color: black; /* or any default color */
    border: none;
    background: none;
    cursor: pointer;
}

.saveButton.saved {
    color: red; /* color when saved */
}
