* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    font-family: 'Poppins', sans-serif;
}

button {
    background: none;
    border: none;
}
body > header {
    top: 0px;
    left: 1px;
    height: 95px;
    background-color: #00c4bb;
    border-bottom: 1px solid #f0f0f0;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    width: 1400px;
}
.flex-container {
    display: flex;
    /* justify-content: start; */
}


.card, #search-results .card {
    width: 996px;
    height: 234px;
    background-color: #e9f2f0;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    align-self: center;
}

body > footer {
    flex-shrink: 0;
    width: 1400px;
}
