* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    font-family: 'Poppins', sans-serif;
}

main {
    height: 100vh;
    min-height: 900px;
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

button {
    background: none;
    border: none;
}
body > header {
    top: 0px;
    left: 1px;
    height: 95px;
    background-color: #00c4bb;
    border-bottom: 1px solid #f0f0f0;
    box-sizing: border-box;
    padding: 10px 20px;
}

/* Nav styling */
nav {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
    font-size: 16px;
    padding: 0px 30px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}
 
/* Hiding menu button - should only pop up on smaller screens */
.menu_button {
    display: none;
}

/* Hides horizontal navbar links when less than 950px */
@media(max-width: 1020px) {
    .menu_button {
        display: block;
    }
    .hideMobile {
        display: none;
    }
}
/* sidebar takes up 100% when less than 400px */
@media(max-width: 800px) {
    .sidebar {
        width: 100%;
    }
}

.flex-container {
    display: flex;
    /* justify-content: start; */
}

#popular-destinations-section {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex: 1;
}

#popular-destinations-section h2 {
    font-size: 2em;
    margin: 5px;
}

.card, #search-results .card {
    width: 500px;
    height: 234px;
    background-color: #e9f2f0;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    align-self: center;
}

.helpSubmit {
    margin-top: 5px;
}

/* Footer Styling */

footer > * {
    background-color: papayawhip;
    text-align: center;
}

.footerContainer {
    width: 100%;
    padding: 55px 25px 15px;
  }

.socialMedia {
    display: flex;
    justify-content: center;
}

.socialMedia a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialMedia a i {
    font-size: 2em;
    color: #b8ef38;
    opacity: 0.9;
}

.socialMedia a:hover {
    background-color: black;
    transition: 1s;
}

.footerNav {
    margin: 25px 0;

}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li {
    margin: 10px;
    font-size: 1em;
    opacity: 0.5;
}

.footerNav ul li a {
    text-decoration: none;
}